<div role="form">
    <div class="box-body">
        <field id="codTask" label="Código" grid="12 6 2" placeholder="Código..." 
            model="gsCtrl.task.codTask" readonly="gsCtrl.tabTaskDelete"></field>
        <field id="quest" label="Nome da Quest" grid="12 6 4" placeholder="Nome da quest..." 
            model="gsCtrl.task.quest" readonly="gsCtrl.tabTaskDelete"></field>
        <field id="task" label="Tarefa" grid="12 6" placeholder="Descreva a tarefa a ser realizada..." 
            model="gsCtrl.task.task" readonly="gsCtrl.tabTaskDelete"></field>

        <field id="minDay" label="Dia mínimo" grid="12 6 2" placeholder="Dia inicial" type="number" 
            model="gsCtrl.task.minDay" readonly="gsCtrl.tabTaskDelete"></field>
        <field id="taskRepeat" label="Repetível" grid="12 6 2" placeholder=""
            model="gsCtrl.task.taskRepeat" readonly="gsCtrl.tabTaskDelete"></field>
        <field id="interval" label="Intervalo" grid="12 6 2" placeholder="Saltar" type="number" 
            model="gsCtrl.task.interval" readonly="gsCtrl.tabTaskDelete"></field>
        <field id="maxDay" label="Dia máximo" grid="12 6 2" placeholder="Dia Final" type="number" 
            model="gsCtrl.task.maxDay" readonly="gsCtrl.tabTaskDelete"></field>
        <field id="lastDay" label="Dia anterior" grid="12 6 2" placeholder="Dia" type="number" 
            model="gsCtrl.task.lastDay" readonly="gsCtrl.tabTaskDelete"></field>
    </div>
    <div class="box-footer">
        <button class="btn btn-primary" ng-click="gsCtrl.taskCreate(gsCtrl.save)" ng-if="gsCtrl.tabTaskCreate">Incluir</button>
        <button class="btn btn-info" ng-click="gsCtrl.taskUpdate(gsCtrl.save)" ng-if="gsCtrl.tabTaskUpdate">Alterar</button>
        <button class="btn btn-danger" ng-click="gsCtrl.taskDelete(gsCtrl.save)" ng-if="gsCtrl.tabTaskDelete">Excluir</button>
        <button class="btn btn-default" ng-click="gsCtrl.refreshTask(gsCtrl.save)">Cancelar</button>
    </div>
</div>