<div class="box-body">
    <div class="col-xs-12 col-sm-12 col-md-10">
        <h3>{{gsCtrl.save.game}}</h3>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2">
        <button class="btn btn-danger" ng-click="gsCtrl.refreshSave()">Voltar</button>
    </div>

    <table class="table">
        <thread>
            <tr>
                <th>Order</th>
                <th>Período</th>
                <th>Ações</th>
            </tr>
        </thread>
        <tbody>
            <tr ng-repeat="timeplay in gsCtrl.timeplays">
                <td>{{ timeplay.timeOrder }}</td>
                <td>{{ timeplay.timeName }}</td>
                <td class="table-actions">
                    <button class="btn btn-warning" ng-click="gsCtrl.showTabTimeUpdate(timeplay)">
                        <i class="fa fa-pencil"></i></button>
                    <button class="btn btn-danger" ng-click="gsCtrl.showTabTimeDelete(timeplay)">
                        <i class="fa fa-trash-o"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>