<div class="box-body">
    <div class="col-xs-12 col-sm-12 col-md-10">
        <h3>{{gsCtrl.save.game}}</h3>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2">
        <button class="btn btn-danger" ng-click="gsCtrl.refreshSave()">Voltar</button>
    </div>

    <table class="table">
        <thread>
            <tr>
                <th>Icone</th>
                <th>Nome</th>
                <th>Valor</th>
                <th>Ações</th>
            </tr>
        </thread>
        <tbody>
            <tr ng-repeat="varsave in gsCtrl.varsaves">
                <td><i class="{{ varsave.icon }}" style="font-size: 24px;"></i></td>
                <td>{{ varsave.name }}</td>
                <td>{{ varsave.value }}</td>
                <td class="table-actions">
                    <button class="btn btn-warning" ng-click="gsCtrl.showTabVarUpdate(varsave)">
                        <i class="fa fa-pencil"></i></button>
                    <button class="btn btn-danger" ng-click="gsCtrl.showTabVarDelete(varsave)">
                        <i class="fa fa-trash-o"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>